.header {
  height: 100%;
  /* background-color: #021b2d; */

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.home {
  composes: header;
  background-color: none;
}

.others {
  composes: header;
  background-color: #ffffffd2;
}
