.titleBar {
  text-align: center;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 10px;
}

.title {
  color: #021b2d;

  text-decoration: none;
  margin: 0;
}

.home {
  composes: title;
  font-size: 50px;
}

.others {
  composes: title;
  font-size: 25px;
}

@media (min-width: 600px) {
  .home {
    margin-top: -60px;
  }
  .others {
    margin-top: -35px;
  }
}
