.titleBar {
  text-align: center;
  /* height: 100%; */

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1000;

  /* margin-bottom: 10px; */
}

.titleBarHome {
  composes: titleBar;
  margin-bottom: 10px;
}

.titleBarOthers {
  composes: titleBar;
}

.title {
  color: #021b2d;

  text-decoration: none;
  margin: 0;
}

.home {
  composes: title;
  height: 50px;
}

.others {
  composes: title;
  height: 30px;
}

/* @media (min-width: 600px) {
  .home {
    margin-top: -60px;
  }
  .others {
    margin-top: -35px;
  }
} */
