.page {
  max-width: 1200px;
  padding: 0 1.0875rem 1.45rem;
}

.footer {
  padding: 0 1.0875rem;
}

.header {
  position: sticky;
  top: 0;
  /* padding: 0 1.0875rem; */
  z-index: 100;
}

.overlay {
  padding: 0 1.0875rem;
}

.highlight-gold {
  text-shadow: 1.5px 1px 1px rgb(255, 219, 100);
}

.smooth-transition {
  transition: all 300ms ease-out;
}

::-webkit-scrollbar {
  /*width: 0px; remove scrollbar space */
  width: 6px;
  background: white; /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #021b2d;
}
